@font-face {
  font-family: 'FilsonProMedium';
  src: local('Filson Pro Medium'), local('Filson-Pro-Medium'),
    url('../fonts/FilsonPro-Medium/FilsonPro-Medium.woff2') format('woff2'),
    url('../fonts/FilsonPro-Medium/FilsonPro-Medium.woff') format('woff'),
    url('../fonts/FilsonPro-Medium/FilsonPro-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'P22Mackinac';
  src: local('P22 Mackinac'), local('P22-Mackinac'),
    url('../fonts/P22-Mackinac/P22MackinacPro-Book_25.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'P22Mackinac';
}
/* ===== FONT-FAMILY ===== */
.font-filsonProMedium {
  font-family: 'FilsonProMedium' !important;
}

/* ====== FONT SIZE ===== */
.font-size-50 {
  font-size: 50px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-20 {
  font-size: 20px !important;
}
@media screen and (max-width: 768px) {
  .font-size-50 {
    font-size: 30px;
  }
}
/* ====== FONT WEIGHT ===== */
.font-weight-500 {
  font-weight: 500;
}

/* ====== OVERFLOW ===== */
.overflow-hidden {
  overflow: hidden;
}

/* ====== CURSOR ===== */
.cursor-pointer {
  cursor: pointer;
}

/* ====== BOX SHADOW ===== */
.box-shadow-light {
  box-shadow: 7px 7px 70px #00000029;
}

/* ====== COLOR ===== */
.color-salmon {
  color: #ff7878 !important;
}
.color-red {
  color: #ff4c4c !important;
}
.color-marine {
  color: #043052;
}
.color-grey {
  color: #1e212b;
  opacity: 0.42;
}

/* ===== BACKGROUND-COLOR ==== */
.bg-alice-blue {
  background-color: #e9f1f7;
}
.bg-red {
  background-color: #fa4b4b;
}
.bg-marine {
  background-color: #043052;
}
.bg-bismark {
  background-color: #4d6c84;
}
.bg-transparent {
  background-color: transparent !important;
}

.line-h-normal {
  line-height: normal !important;
}

/* ===== CUSTOM CLASS ===== */
.h-90 {
  height: 90vh;
}
.h-80vh {
  height: 80vh !important;
}
.h-48 {
  height: 48px;
}
.h-519 {
  max-height: 519px;
}
.h-43 {
  height: 43px;
}
.w-165 {
  width: 165px;
}
.mt-10 {
  margin-top: 100px;
}
.mt-8 {
  margin-top: 80px;
}
.mt-36px {
  margin-top: 36px;
}
.list-style-none {
  list-style: none;
}
.border-red {
  border-top: 1px solid #fa4b4b !important;
  width: 120px;
}
.border-red-2 {
  border: 2px solid #fa4b4b !important;
}
.z-index-99 {
  z-index: 999;
}
.z-index-9999 {
  z-index: 9999;
}
.w-95 {
  width: 95%;
}

/* border-radius */
.border-radius-15 {
  border-radius: 15px;
}

.custom-input {
  background: #fff;
  border-radius: 48px;
  border: none;
  padding: 10px 15px;
  width: 100%;
}
.custom-textarea {
  background: #fff;
  border-radius: 16px;
  border: none;
  padding: 10px 15px;
  width: 100%;
}

.object-fit-cover {
  object-fit: cover;
}
/* ===== CAROUSEL ===== */
.carousel-control-prev {
  left: -5px !important;
}
.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 7% !important;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 1 !important;
  transition: opacity 0.15s ease;
}

/* ===== NAVBAR ===== */
.sign-in-btn {
  background-color: transparent;
  border: 1px solid gray;
  padding: 9px 20px;
}
.donate-btn {
  background-color: #fa4b4b !important;
  color: #fff !important;
  border: 0 !important;
}
.donate-btn:focus-visible {
  border: 0 !important;
}

/* ===== CAROUSEL ===== */
.carousel-bg-img {
  background-image: url('../image/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
  opacity: 0.9;
}

/* ===== RAJENDER DAS SECTION ===== */
.rajender-das-style {
  background-image: url('../image/bg-flower.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.img-style {
  width: 75%;
  min-width: 300px;
  height: 317px;
  border-top-left-radius: 252px;
  border-top-right-radius: 252px;
  border: 1px solid red;
  padding: 19px;
  object-fit: cover;
}

/* ===== IMPORTANCE OF GAU SEWA  ===== */
.bg-left-gau {
  background-image: url(../image/side-flower.svg);
  background-repeat: no-repeat;
  background-position: -9% -56%;
  background-size: 325px 311px;
}
.bg-right-gau {
  background-image: url(../image/side-flower.svg);
  background-repeat: no-repeat;
  background-position: 110% -44%;
  background-size: 325px 311px;
}

/* ===== DONOR OF THE MONTH  ===== */
.donor-left-img {
  background-image: url(../image/donor-side-flower.svg);
  background-repeat: no-repeat;
  background-position: top left, top left;
  background-size: 122px 105px;
}
.donor-right-img {
  background-image: url(../image/donor-side-flower.svg);
  background-repeat: no-repeat;
  background-position: bottom right, bottom right;
  background-size: 122px 105px;
}

/* ===== CAMPAIGN  OF THE MONTHS ===== */
.circle-border-box {
  border: 1px solid red;
  border-top-left-radius: 115px;
  border-top-right-radius: 115px;
  width: 220px;
  height: 223px;
}
.campaigns-left-bg {
  background-image: url('../image/bg-flower.svg');
  background-repeat: no-repeat;
  background-position: -121px -4px;
  background-size: 438px 398px;
}
.campaigns-right-bg {
  background-image: url('../image/bg-flower.svg');
  background-repeat: no-repeat;
  background-position: 1022px, 18px;
  background-size: 438px 398px;
}

/* ===== FIND SECTION OF COWS ===== */
.float-img {
  position: relative;
  left: -42px;
  width: 431px;
  height: 297px;
}
.h-500px {
  height: 500px;
}
.h-370px {
  height: 370px;
}
.cow-sec::after {
  content: '';
  position: absolute;
  background: url(../image/flower-blue.svg);
  width: 234px;
  height: 460px;
  right: 0;
  top: 38px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ===== BLOG ===== */
.feature-left-bg {
  background-image: url(../image/donor-side-flower.svg);
  background-repeat: no-repeat;
  background-position: 39px 6px;
  background-size: 122px 105px;
}
.feature-right-bg {
  background-image: url(../image/donor-side-flower.svg);
  background-repeat: no-repeat;
  background-position: 1103px 4px;
  background-size: 122px 105px;
}

/* ===== FOOTER ===== */
.footer-input {
  border-radius: 26px;
  padding: 6px 22px;
  height: 48px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5) !important;
}
.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 12px !important;
}

/* ===== MEDIA QUIRES =====  */
@media screen and (max-width: 768px) {
  .float-img {
    position: relative;
    left: 0;
    top: 59px;
    width: 295px;
    height: 187px;
  }
  .h-300px {
    height: auto;
  }
  .small-screen-btn {
    position: fixed;
    bottom: 0px;
    /* right: 20px; */
    /* left: 20px; */
    width: 100%;
    height: 90px;
  }
  .carousel-bg-img {
    height: 50vh;
  }
  .map-sec {
    height: 300px !important;
  }
}

/* ========================= ABOUT ======================================== */
/* ===== CAROUSEL ===== */
.about-carousel-bg-img {
  /* content: ''; */
  background-image: url('../image/about-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  opacity: 0.9;
}

/* ===== FACILTIES AT LOCATION ===== */
.facilities-header {
  background-image: url('../image/facilities-flower.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 160px;
  width: 100%;
}

.events-section::after {
  position: absolute;
  content: '';
  background-image: url('../image/bg-flower.svg');
  background-repeat: no-repeat;
  top: 10px;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.contact-section::after {
  background-image: url('../image/side-flower.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  content: '';
  top: 15px;
  left: 288px;
  width: 387px;
  height: 330px;
  z-index: 999;
  opacity: 0.5;
}

@media screen and (max-width: 760px) {
  .contact-section::after {
    display: none;
  }
}

/* ========================= GAUSHALA ======================================== */
/* ===== BANNER ===== */
.gaushala-banner-bg::before {
  content: '';
  background-image: url(../image/side-flower.svg);
  background-repeat: no-repeat;
  background-size: 363px;
  position: absolute;
  height: 377px;
  right: 0px;
  top: 94px;
  width: 231px;
}

/* ===== COW PRODUCT ===== */
.cow-product-bg::before {
  content: '';
  background-image: url(../image/bg-flower.svg);
  background-repeat: no-repeat;
  background-size: 609px;
  position: absolute;
  height: 609px;
  right: 0px;
  top: -179px;
  width: 404px;
}

.min-height-390 {
  min-height: 390px;
}

/* ========================= AYURVEDA ======================================== */
/* ===== CAROUSEL ===== */
.ayurveda-carousel-bg-img {
  /* content: ''; */
  background-image: url('../image/ayurveda.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  opacity: 0.9;
}

/* ===== SCIENCE FOR AYURVEDA ===== */
.science-bg::before {
  content: '';
  background-image: url(../image/side-flower.svg);
  background-repeat: no-repeat;
  background-size: 311px;
  position: absolute;
  height: 311px;
  right: 0px;
  top: 59px;
  width: 207px;
}

/* ===== BENEFITS OF COW PRODUCTS  ===== */
.cow-product-bg::before {
  content: '';
  background-image: url(../image/bg-flower.svg);
  background-repeat: no-repeat;
  background-size: 330px;
  position: absolute;
  height: 330px;
  left: -21px;
  top: -65px;
  width: 337px;
  z-index: 99;
}
.cow-product-bg::after {
  content: '';
  background-image: url(../image/bg-flower.svg);
  background-repeat: no-repeat;
  background-size: 330px;
  position: absolute;
  height: 330px;
  bottom: 1px;
  right: 1px;
  width: 262px;
  z-index: 99;
}

.login-section::before {
  content: '';
  background: url(../image/bg-flower.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 330px;
  top: 118px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  height: 332px;
}

/* ===== BLOG ===== */
/* BANNER */
.banner-bg-blog {
  background-image: url(../image/blog-big-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
}

/* ===== SUBSCRIBE ===== */
.subscribe-bg::before {
  content: '';
  background: url(../image/side-flower.svg);
  background-repeat: no-repeat;
  background-size: 309px;
  position: absolute;
  right: -41px;
  top: 11px;
  height: 310px;
  width: 324px;
  opacity: 0.6;
}
.tab button {
  background-color: #fa4b4b;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 40px;
  transition: 0.3s;
  border-radius: 30px;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
}
.tab button:hover {
  background-color: #043052;
}
.tab button.active {
  background-color: #043052;
}

/* ====== SINGLE BLOG ===== */
.banner-bg-single-blog {
  background-image: url(../image/chair-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 350px;
  width: 250px;
}

/* ====== DONATE ===== */
/* BANNER */
.donate-banner {
  background-image: url('../image/Donate-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  opacity: 0.9;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../image/downarrow.svg);
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 25px;
  background-size: 20px;
}

.form-check-input {
  height: 21px !important;
  width: 21px !important;
  border: 2px solid #043052 !important;
}

/* ====== CHECKOUT ===== */
.bg-rectange::before {
  content: '';
  background-repeat: no-repeat;
  background-size: 331px;
  position: absolute;
  top: 69px;
  left: 18px;
  height: 650px;
  width: 94%;
  border: 2px solid red;
}

/* ====== MY DONATION ===== */
.bg-rectange-my-donation::before {
  content: '';
  background-repeat: no-repeat;
  background-size: 331px;
  position: absolute;
  top: 169px;
  left: 18px;
  height: 350px;
  width: 94%;
  border: 2px solid red;
}

@media screen and (max-width: 768px) {
  .bg-rectange-my-donation::before {
    height: 500px;
  }
}

/* ====== DONATION LIST ===== */
.bg-rectange-donation-list {
  border: 2px solid red;
}
.btn-position {
  position: relative;
  top: -20px;
}
/* ====== LOGIN ===== */
.login-input-style {
  background: #e9f1f7;
  border-radius: 48px;
  border: none;
  padding: 10px 15px;
  width: 100%;
}

.login-input-style:focus-visible {
  outline: none !important;
}
/* ====== EVENTS ===== */
.event-bg::after {
  content: '';
  background-image: url(../image/bg-flower.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 101px;
  right: 0;
  width: 39%;
  height: 428px;
}

/* ====== GALLERY ===== */
.gallery-bg::before {
  content: '';
  background-image: url(../image/side-flower.svg);
  position: absolute;
  background-repeat: no-repeat;
  top: 123px;
  background-size: contain;
  right: 0px;
  width: 307px;
  height: 330px;
  opacity: 0.4;
}

/* signUp */
.signup-sec::after {
  content: '';
  position: absolute;
  background: url(../image/bg-flower.svg);
  width: 60%;
  height: 250px;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.location-sec::before {
  content: '';
  position: absolute;
  background: url(../image/flower-blue.svg);
  width: 461px;
  height: 460px;
  left: -175px;
  top: -229px;
  background-size: cover;
  background-repeat: no-repeat;
}
.how-get-sec::before {
  content: '';
  position: absolute;
  background: url(../image/bg-flower.svg);
  width: 461px;
  height: 460px;
  left: -194px;
  bottom: -300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.how-get-sec::after {
  content: '';
  position: absolute;
  background: url(../image/flower-blue.svg);
  width: 234px;
  height: 460px;
  right: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

/* campaigns section */
.overlay-campaigns-card {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
}

/* activities */
.facilities-activities-header {
  background-image: url('../image/facilities-flower.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 160px;
  width: 100%;
}

.facilities-activities-bottom::after {
  content: '';
  background-image: url(../image/facilities-flower.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 15px;
  left: auto;
  right: auto;
  width: 96%;
  height: 171px;
}

.form-check-input {
  border: 2px solid red !important;
}

/* List of Actitivites  */
.list-activities-bg::before {
  content: '';
  background-image: url(../image/red-flower.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  height: 682px;
  width: 100%;
  opacity: 0.9;
}

input:checked::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: red;
  position: absolute;
  left: 7px;
  top: 0;
}
input:checked {
  border: 1px solid red;
  background-color: white;
}

.checkbox {
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid red;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: white;
  cursor: pointer;
}

.res-donate-btn {
  background: #fff;
}
.custom-donate-btn {
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  .ayurveda-carousel-bg-img {
    height: 50vh;
  }
  .about-carousel-bg-img {
    height: 50vh;
  }
  .mb-8 {
    margin-bottom: 80px;
  }
}
