* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ====== FONT SIZE ===== */
.font-size-50 {
  font-size: 50px;
}
.font-size-15 {
  font-size: 15px;
}

/* ====== FONT WEIGHT ===== */
.font-weight-500 {
  font-weight: 500;
}

/* ====== BOX SHADOW ===== */
.box-shadow-light {
  box-shadow: 7px 7px 70px #00000029;
}

/* ====== COLOR ===== */
.color-salmon {
  color: #ff7878 !important;
}
.color-red {
  color: #ff4c4c !important;
}
.color-marine {
  color: #043052;
}
.color-grey {
  color: #1e212b;
  opacity: 0.42;
}

/* ===== BACKGROUND-COLOR ==== */
.bg-alice-blue {
  background-color: #e9f1f7;
}
.bg-red {
  background-color: #fa4b4b;
}
.bg-marine {
  background-color: #043052;
}
.bg-bismark {
  background-color: #4d6c84;
}

/* ===== CUSTOM CLASS ===== */
.h-90 {
  height: 90vh;
}
.h-80vh {
  height: 80vh !important;
}
.mt-10 {
  margin-top: 100px;
}
.mt-8 {
  margin-top: 80px;
}
.list-style-none {
  list-style: none;
}
.border-red {
  border-top: 1px solid #fa4b4b !important;
  width: 120px;
}

/* ===== NAVBAR ===== */
.sign-in-btn {
  background-color: transparent;
  border: 1px solid gray;
  padding: 9px 20px;
}
.donate-btn {
  background-color: #fa4b4b !important;
  color: #fff !important;
  border: 0 !important;
}
.donate-btn:focus-visible {
  border: 0 !important;
}

/* ===== CAROUSEL ===== */
.carousel-bg-img {
  background-image: url("../image/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
  opacity: 0.9;
}

/* ===== RAJENDER DAS SECTION ===== */
.rajender-das-style {
  background-image: url("../image/bg-flower.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.img-style {
  width: 75%;
  min-width: 300px;
  height: 317px;
  border-top-left-radius: 252px;
  border-top-right-radius: 252px;
  border: 1px solid red;
  padding: 19px;
}

/* ===== IMPORTANCE OF GAU SEWA  ===== */
.bg-left-gau {
  background-image: url(../image/side-flower.svg);
  background-repeat: no-repeat;
  background-position: -9% -56%;
  background-size: 325px 311px;
}
.bg-right-gau {
  background-image: url(../image/side-flower.svg);
  background-repeat: no-repeat;
  background-position: 110% -44%;
  background-size: 325px 311px;
}

/* ===== DONOR OF THE MONTH  ===== */
.donor-left-img {
  background-image: url(../image/donor-side-flower.svg);
  background-repeat: no-repeat;
  background-position: top left, top left;
  background-size: 122px 105px;
}
.donor-right-img {
  background-image: url(../image/donor-side-flower.svg);
  background-repeat: no-repeat;
  background-position: bottom right, bottom right;
  background-size: 122px 105px;
}

/* ===== CAMPAIGN  OF THE MONTHS ===== */
.circle-border-box {
  border: 1px solid red;
  border-top-left-radius: 115px;
  border-top-right-radius: 115px;
  width: 220px;
  height: 223px;
}
.campaigns-left-bg {
  background-image: url("../image/bg-flower.svg");
  background-repeat: no-repeat;
  background-position: -121px -4px;
  background-size: 438px 398px;
}
.campaigns-right-bg {
  background-image: url("../image/bg-flower.svg");
  background-repeat: no-repeat;
  background-position: 1022px, 18px;
  background-size: 438px 398px;
}

/* ===== FIND SECTION OF COWS ===== */
.float-img {
  position: relative;
  left: -42px;
  width: 335px;
  height: 255px;
}
.h-300px {
  height: 300px;
}

/* ===== BLOG ===== */
.feature-left-bg {
  background-image: url(../image/donor-side-flower.svg);
  background-repeat: no-repeat;
  background-position: 39px 6px;
  background-size: 122px 105px;
}
.feature-right-bg {
  background-image: url(../image/donor-side-flower.svg);
  background-repeat: no-repeat;
  background-position: 1103px 4px;
  background-size: 122px 105px;
}

/* ===== FOOTER ===== */
.footer-input {
  border-radius: 20px;
  padding: 6px 22px;
}
.footer-input::placeholder {
  color: white;
}

/* ===== MEDIA QUIRES =====  */
@media screen and (max-width: 768px) {
  .float-img {
    position: relative;
    left: 0;
    top: 59px;
    width: 280px;
    height: 280px;
  }
  .h-300px {
    height: auto;
  }
}

/* ========================= ABOUT ======================================== */
/* ===== CAROUSEL ===== */
.about-carousel-bg-img {
  background-image: url("../image/about-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
  opacity: 0.9;
}

/* ===== FACILTIES AT LOCATION ===== */
.facilities-header {
  background-image: url("../image/facilities-flower.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 100%;
}

/* ========================= GAUSHALA ======================================== */
.gaushala-banner-bg::before {
  content: "";
  background-image: url(../image/side-flower.svg);
  background-repeat: no-repeat;
  background-size: 363px;
  position: absolute;
  height: 377px;
  right: 0px;
  top: 94px;
  width: 231px;
}
